.footer-menus
  .footer-menus--menu
    h1.footer-menus--menu--heading Shop
    a(href="#").footer-menus--menu--link Men
    a(href="#").footer-menus--menu--link Women
    a(href="#").footer-menus--menu--link Kids
    a(href="#").footer-menus--menu--link Promotions
  .footer-menus--menu
    h1.footer-menus--menu--heading Terms
    a(href="#").footer-menus--menu--link Buying Terms 
    a(href="#").footer-menus--menu--link Money-Back Guarantee
    a(href="#").footer-menus--menu--link Promotional Terms
    a(href="#").footer-menus--menu--link Customer Protection
  .footer-menus--menu
    h1.footer-menus--menu--heading Help
    a(href="#").footer-menus--menu--link Customer Support
    a(href="#").footer-menus--menu--link MyVoyager
    a(href="#").footer-menus--menu--link Shop Locations
    a(href="#").footer-menus--menu--link 24/7 Invoices
    a(href="#").footer-menus--menu--link 24/7 Contact
  .footer-menus--menu
    h1.footer-menus--menu--heading Services
    a(href="#").footer-menus--menu--link Voyager Card
    a(href="#").footer-menus--menu--link Loyalty Bonus
    a(href="#").footer-menus--menu--link Newsletter