.logo
  h1.logo--heading Voyager
  p.logo--tagline The revolution in fashion

.navbar
  .navbar--links
    a(href="#").navbar--links--link New
    a(href="#").navbar--links--link Sale
    a(href="#").navbar--links--link Womens
    a(href="#").navbar--links--link Mens
    a(href="#").navbar--links--link Kids
    a(href="#").navbar--links--link Seasonal
    a(href="#").navbar--links--link Promotions

i.navbar-button.fa.fa-bars.fa-3x