.store-opening
  +headingandcta('Official Store Opening', 'click for more details')

.free-shipping
  +headingandcta('Free shipping for the next 48 hours', 'start shopping now')

.retro-sweater
  +headingandcta('Retro Sweater Line', 'be the first to buy')

.newsletter
  .newsletter--logo
    h1.newsletter--logo--heading Voyager
    p.newsletter--logo--tagline Limited
  a(href="#").newsletter--lead Sign up for our newsletter to get access to special promotions and limited edition clothing &#187;

.choose-style
  h1.choose-style--heading Choose your style

  .choose-style--styles
    .choose-style--styles--option
      h1.choose-style--styles--option--heading Classy
    .choose-style--styles--option
      h1.choose-style--styles--option--heading Flashy

.worldwide-shipping
  +headingandcta('Worldwide Shipping', 'start ordering now')

.social-bar
  a(href="#").social-bar--icon.fa.fa-2x.fa-instagram
  a(href="#").social-bar--icon.fa.fa-2x.fa-facebook-square
  a(href="#").social-bar--icon.fa.fa-2x.fa-pinterest-square